.body-content {
  padding: $gutter;

  &__container {
    display: flex;
    flex-wrap: wrap;
    max-width: 65rem;
    margin: 0 auto;
  }

  &__card {
    flex-basis: calc(100% / 5 - 2rem);
    flex-grow: 1;
    margin: $gutter;


    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);

    &--img {
      flex-grow: 1;
      margin: 0;
      width: 100%;
    }
  }
}

.container {
  max-width: 65rem;
  margin: 0 auto;
}

.last-container {
  text-align: center;
}

h3 {
  padding: 0 1rem;
}

p {
  padding: 0 1rem;
}
