.footer-container {
  position: relative;
  max-width: 65rem;
  margin: 0 auto;
  padding: $gutter;
}

.footer-copyright {
  display: inline-block;
  padding: 0.5rem 1rem;
}

.footer-links {
  display: inline-block;

  &-mid {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%, 0);

  }

  &-right {
    margin: 0;
    padding: 0 4rem 0 0;
    float: right;

  }
}
