.nav-bar {
  background: $c-navbar;

  &__container {
    max-width: 65rem;
    margin: 0 auto;
    overflow: auto;
  }

  &__float {
    display: inline-block;
    margin: 0.5rem;
    padding-left: 3rem;
    color: $c-full-page;

    }

  &__list {
    display: inline-block;
    margin: $gutter;
    padding-right: 2rem;
    float: right;
    color: $c-full-page;

    &--item {
      padding-right: 1rem;
      float: right;
    }
  }
}
