.nav-bar {
  display: inline-block;
  width: 100%;
  margin: auto;
  background: $c-navbar;
  // overflow: auto;

  &__container {
    margin: $gutter;
  }

  &__float {
    float: left;
    background: yellow;
    overflow: auto;
    }

  &__list {
    margin: $gutter;
    padding: 0 2rem 0 0;
    float: right;
    background: orange;
  }
}
