.nav-bar {
  width: 100%;
  margin: auto;
  background: $c-navbar;
  // overflow: auto;

  &__container {
    max-width: 65rem;
    margin: 0 auto;
    overflow: auto;
  }

  &__float {
    display: inline-block;
    overflow: auto;
    padding: 0.5rem 1rem;
    color: $c-full-page;
    }

  &__list {
    display: inline-block;
    float: right;
    margin: $gutter;
    padding: 0 2rem 0 0;
    color: $c-full-page;

    &--item {
      float: right;
      padding: 1rem;
    }
  }
}
